linux/
linux-ia64/
linux64/
sgi/
solaris/
solaris64/
solaris_stlport/
solaris64_stlport/
solaris86/
win32/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
confdefs.h
config.log
config.status
configure
libtool
.deps/
.libs/
_install/
doxygen/
stamp-h1
*~
/libcsmapi.la
/libcsmapi_la-*
